### **`Data Preparation`**

##### **Importation of Packages and  Reading CSV**

In [1]:
import pandas as pd

In [14]:
df_oil = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/cleaned_btc.csv')
df_gold = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/cleaned_gold.csv')
# df_dxy = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/cleaned_dxy.csv')
df_btc = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/cleaned_btc.csv')
df_date = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/date.csv')
# df_holiday = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/holiday.csv')
# df_weekday = pd.read_csv('/Users/h.h/Downloads/BAnDS/Fall 2024/5193 -  Programming I DS/Project/Cleaned Unjoined/weekday.csv')

#### **Separate Dataset Preprocessing**
- At the End of this stage we will have different cleaned DataFrames, ready for a left join By date.
    - Standardize column names
    - Proper Dtypes
    - Date properties (holiday, weekday) changed to binary
    - Ensured about date Integrity for all DFs

##### **Oil DataFrame Preprocessing**

In [5]:
df_oil.head()

         Date  btc_open  btc_high   btc_low  btc_close
0  2024-10-21  69009.37  69408.10  66873.84   67525.97
1  2024-10-20  68364.18  69359.01  68105.72   69001.70
2  2024-10-19  68418.98  68668.01  68024.64   68362.73
3  2024-10-18  67419.11  68969.75  67177.82   68418.79
4  2024-10-17  67617.08  67912.21  66647.39   67399.84

In [6]:
df_oil.dtypes

Date          object
btc_open     float64
btc_high     float64
btc_low      float64
btc_close    float64
dtype: object

In [7]:
# Convert Date to datetime
df_oil['Date'] = pd.to_datetime(df_oil['Date'])

In [8]:
df_oil.shape

(3643, 5)

In [24]:
# Check for start and end date
df_oil['Date'].min(), df_oil['Date'].max()

(Timestamp('2014-11-01 00:00:00'), Timestamp('2024-10-21 00:00:00'))

##### **Gold DataFrame Preprocessing**

In [27]:
df_gold.head()

        Date  gold_close  gold_open  gold_high  gold_low
0 2024-11-06      2668.0     2754.4     2758.7   2660.75
1 2024-11-05      2749.7     2746.0     2759.5   2733.40
2 2024-11-04      2746.2     2743.5     2757.5   2739.40
3 2024-11-01      2749.2     2754.0     2772.4   2742.60
4 2024-10-31      2749.3     2799.1     2801.2   2741.80

In [ ]:
df_gold.dtypes

Date          object
gold_close    object
gold_open     object
gold_high     object
gold_low      object
dtype: object

In [ ]:
# Convert Date to datetime
df_gold['Date'] = pd.to_datetime(df_gold['Date'])

In [ ]:
# Covert Object to Float
for col in ["gold_close", "gold_open", "gold_high", "gold_low"]:
    df_gold[col] = df_gold[col].str.replace(',', '').astype(float)

In [35]:
df_gold.shape

(2568, 5)

In [ ]:
# Check for start and end date
df_gold['Date'].min(), df_gold['Date'].max()

(Timestamp('2014-11-03 00:00:00'), Timestamp('2024-11-06 00:00:00'))

##### **BTC DataFrame Preprocessing**

In [30]:
df_btc.head()

         Date  btc_open  btc_high   btc_low  btc_close
0  2024-10-21  69009.37  69408.10  66873.84   67525.97
1  2024-10-20  68364.18  69359.01  68105.72   69001.70
2  2024-10-19  68418.98  68668.01  68024.64   68362.73
3  2024-10-18  67419.11  68969.75  67177.82   68418.79
4  2024-10-17  67617.08  67912.21  66647.39   67399.84

In [31]:
df_btc.dtypes

Date          object
btc_open     float64
btc_high     float64
btc_low      float64
btc_close    float64
dtype: object

In [34]:
df_btc.shape

(3643, 5)

In [32]:
# Convert Date to datetime
df_btc['Date'] = pd.to_datetime(df_btc['Date'])

In [33]:
# Check for start and end date
df_gold['Date'].min(), df_gold['Date'].max()

(Timestamp('2014-11-03 00:00:00'), Timestamp('2024-11-06 00:00:00'))

##### **DXY DataFrame Preprocessing**

In [ ]:
# df_dxy.head()

         Date gold_close gold_open gold_high  gold_low
0  2024-11-06   2,668.00  2,754.40  2,758.70  2,660.75
1  2024-11-05   2,749.70  2,746.00  2,759.50  2,733.40
2  2024-11-04   2,746.20  2,743.50  2,757.50  2,739.40
3  2024-11-01   2,749.20  2,754.00  2,772.40  2,742.60
4  2024-10-31   2,749.30  2,799.10  2,801.20  2,741.80

In [ ]:
## drop  vol, change columns
# df_dxy = df_dxy.drop(columns=['Vol.', 'Change %'])

In [ ]:
# df_dxy.dtypes

Date          object
gold_close    object
gold_open     object
gold_high     object
gold_low      object
dtype: object

In [ ]:
# # Convert Date to datetime
# df_dxy['Date'] = pd.to_datetime(df_dxy['Date'])

In [ ]:
# df_dxy.shape

In [ ]:
# # Check for start and end date
# df_dxy['Date'].min(), df_dxy['Date'].max()

(Timestamp('2014-11-03 00:00:00'), Timestamp('2024-11-06 00:00:00'))

##### **Date DataFrame Preprocessing**

In [36]:
df_date.head()

   Unnamed: 0        Date        DoW  Month  Year
0           0  2014-11-01   Saturday     11  2014
1           1  2014-11-02     Sunday     11  2014
2           2  2014-11-03     Monday     11  2014
3           3  2014-11-04    Tuesday     11  2014
4           4  2014-11-05  Wednesday     11  2014

In [37]:
df_date = df_date.drop(columns=['Unnamed: 0'])

In [38]:
df_date['Date'] = pd.to_datetime(df_date['Date'])

In [39]:
df_date.shape

(3653, 4)

In [40]:
df_date['Date'].min(), df_date['Date'].max()

(Timestamp('2014-11-01 00:00:00'), Timestamp('2024-10-31 00:00:00'))

##### **Holiday DataFrame Preprocessing**

In [41]:
# df_holiday = df_holiday[['Date','Title']]

In [42]:
# df_holiday['Date'] = pd.to_datetime(df_holiday['Date'])

In [43]:
# df_holiday.dtypes

##### **Weekday DataFrame Preprocessing**

In [44]:
# df_weekday.head()

In [45]:
# df_weekday['Date'] = pd.to_datetime(df_weekday['A_DATE'])

In [46]:
# # impute missing values with 0
# df_weekday['IS_HOLIDAY'] = df_weekday['IS_HOLIDAY'].fillna(0)

#### **Joining Stage**
- The Final Table
    - Daily Open, High, Low, Close Prices of commodities 
    - Daily Open, High, Low, Close Prices of Dollar Index
    - Date properties (holiday, weekday)
    - Proper Dtypes

In [ ]:
# # merge all dataframes
# df = df_date \
#     .merge(df_btc, on='Date', how='left') \
#     .merge(df_oil, on='Date', how='left') \
#     .merge(df_gold, on='Date', how='left') \
#     .merge(df_dxy, on='Date', how='left') \
#     .merge(df_weekday, on='Date', how='left') \
#     .merge(df_holiday, on='Date', how='left')

In [ ]:
# df.head(10)

In [50]:
# df = df.sort_values(by='Date', ascending=False)